terraform/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.10.0/linux_amd64/terraform-provider-azurerm_v3.10.0_x5
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
ansible/files/.creds
ansible/files/localhost*